body {
  background-color: lightblue;
  color: black;
}

.container {
  border: 3px solid green;
  text-align: center;
  position: static;
  padding: 3px;
  font-size: 198%;
}
.header {
  font-size: 180%;
  color: brown;
}

.mark-zuckerberg {
  width: 170px;
  padding-top: 15px;
  margin: 20px;
  float: right;
}

.clearfix::after
  content: "";
  clear: both;
  display: table;
}

.p {
  font-size: 175%;
  font-family: "Times New Roman", Times, serif;
}
